#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.site-header {
  flex-basis: 100%;
}

.intro-paragraph {
  flex-basis: 100%;
  padding: 2em;
}

html, body {
  height : 100%;
}

body {
  align-items: flex-start;
}

footer {
  position : absolute;
  left : 0;
  bottom : 0;
  right : 0;
  margin-left : 20px;
  font-size: small;
}

.footer-p {
  margin: 0;
}
